<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>About Ambedkar Public School</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.png')}}" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/logo.png')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/versions.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">

    <!-- Modernizer for Portfolio -->
    <script src="{{url_for('static',filename='js/modernizer.js')}}"></script>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" >
            <div class="modal-header tit-up">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >Notice Board</h4>
            </div>
            <div class="modal-body customer-box" style="background-color: bisque;">
            <div><p>World Yoga Day event Launched. Click <a href="{{url_for('yoga')}}">here.</a></p></div>
                
                
            </div>
        </div>
      </div>
    </div>

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER --> 

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{url_for('home')}}">
                    <img src="{{url_for('static',filename='images/AMBEDKAR.png')}}" alt="" />	
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>
						<li class="nav-item "><a class="nav-link" href="{{ url_for('course') }}" >Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a></li>

						<li class="nav-item"><a class="nav-link" href="{{ url_for('blog') }}">Magazine </a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('admission')}}">Admission</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item "><a class="nav-link" href="{{url_for('admin')}}">Admin</a></li>
                        {% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Notice</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<div class="all-title-box" >
		<div class="container text-center">
			<h1>About Us<span class="m_1">Get to know us better</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb parallax parallax-off section db" style="background-image:url({{url_for('static',filename='images/aboutusparallax.jpg')}});">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4></h4>
                        <h2>Our Provisions</h2>
                        <p>We are an English Medium Co-Educational School following the CBSE curriculum and providing education from classes Nursury to X. In 2020 we complete 12 years od educational service to the society.</p>
                        <!--<a href="#" class="hover-btn-new orange"><span>Learn More</span></a>-->
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{{url_for('static',filename='images/aboutus1.jpg')}}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{{url_for('static',filename='images/aboutus2.jpg')}}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Our Objectives</h2>
                        <p>to promote and encourage and help in prosecution of studies and advancement of literary, cultural, political, religious, scientific and technical education in the socially and educationally lowest, down-trodden under privileged strata of our society.</p>

                        <p> </p>

                       <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>-->
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p>To work and help for betterment and establishment of the people coming specially from scheduled caste, scheduled tribe, other backward class and minority communities.<br>To help the aged, sick helpless and indigent and suffered person, animals and other living creature as may be deemed appropriate. <br><br></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p>To acquire, establish, starts, aid, run maintain or manage school, college, libraries, etc. for the benefit of the public<br>To arrange, demonstrate, share, impart and organise lectures, debates, discussions, seminars and documentary film through audio-visual materials & other aids for the benefit of the public and under-privileged community.</p>
					</div>
				</div>
                <!--
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>History</h3>
						<div class="tr-pa">V</div>
						<p><br><br><br><br><br><br><br><br></p>
					</div>
				</div>
            -->
			</div>
		</div>
	</div>


    <!-- testimonals starts here

    <div id="testimonials" class="parallax section db parallax-off" style="background-image:url({{url_for('static',filename='images/projectimage01.jpg')}});">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
                <p>Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_01.png" alt="" class="img-fluid">
                                <h4>James Fernando </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>
                        </div>

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_02.png" alt="" class="img-fluid">
                                <h4>Jacques Philips </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                        </div>

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_03.png" alt="" class="img-fluid ">
                                <h4>Venanda Mercy </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                        </div>
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_01.png" alt="" class="img-fluid">
                                <h4>James Fernando </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>

                        </div>
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_02.png" alt="" class="img-fluid">
                                <h4>Jacques Philips </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            
                        </div>
                        

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_03.png" alt="" class="img-fluid">
                                <h4>Venanda Mercy </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    testimonials end here-->

<div class="parallax section dbcolor parallax-off db" style="background-image:url({{url_for('static',filename='images/newsletter.jpg')}})";>        <div class="container">
            <div class="row logos">
                {% if show_form==True %}
                  <form class="form-layout" method="POST" action="{{url_for('about')}}">
                    {{form.hidden_tag()}}
                    <p style="color: black;font-weight: 600;"><span style="font-size: 2rem">Subscribe to our Newsletter</span> {{form.email(class="specf")}} {{form.submit(class="btn123")}}</p>
                  </form>
                {% else %}

                  <p style="color: black;font-weight: 700;font-size: 1.8rem;text-align: center;">Thank You for subscribing to our Newsletter.</p>
                  <script>
                      function myFunction() {
                        alert("Click the link send to your email account to verify it.");
                      }
                    </script>
                {% endif %}

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <p>Our objective is to promote and encourage and help in prosecution of studies and advancement of literary, cultural, political, religious, scientific and technical education in the socially and educationally lowest, down-trodden under privileged strata of our society.</p>   
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>                      
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                            <li><a href="{{url_for('blog')}}">Magazine</a></li>
                            <li><a href="{{url_for('admission')}}">Admissions</a></li>
                            <li><a href="{{url_for('contact')}}">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@apskanchrapara.com</a></li>
                            <li><a href="#">apskanchrapara.com</a></li>
                            <li>63,Netaji Subhas Path, Nichubasa, Kanchrapara, West Bengal 743145</li>
                            <li>+91 9903004488</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Ambedkar Public School</a> Design By : <a href="https://html.design/">Cosleat Devs</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{{ url_for('static', filename='js/all.js')}} "></script>
    <!-- ALL PLUGINS -->
    <script src="{{ url_for('static', filename='js/custom.js')}} "></script>

</body>
</html>