<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>SmartEDU - Education Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">

    <!-- Bootstrap CSS -->
<link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/versions.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">

	<link rel="stylesheet" href="{{url_for('static',filename='css/newcard.css')}}">
    <!-- Modernizer for Portfolio -->
    <script src="{{url_for('static',filename='js/modernizer.js')}}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		  <div class="modal-content" >
			  <div class="modal-header tit-up">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  <h4 class="modal-title" >Notice Board</h4>
			  </div>
			  <div class="modal-body customer-box" style="background-color: bisque;">
			  <div><p>classes are going to start from june</p></div>
			  <hr>
			  <div><p>classes are going to start from june</p></div>
			  <hr>
			  <div><p>classes are going to start from june</p></div>
			  <hr>
			  <div><p>classes are going to start from june</p></div>
			  <hr>
				  
				  
			  </div>
		  </div>
		</div>
	  </div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
			<a class="navbar-brand" href="{{url_for('home')}}">                   
			 <img src="{{url_for('static',filename='images/AMBEDKAR.png')}}" alt="" />			
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>
						<li class="nav-item active"><a class="nav-link" href="{{ url_for('course') }}" >Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a></li>

						<li class="nav-item"><a class="nav-link" href="{{ url_for('blog') }}">Blog </a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('teachers') }}">Teachers</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('admission')}}">Admission</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Notice</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1><span style="font-size: 5rem">Courses</span><span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	<div class="container">
		<div class="row" style="margin-top: 50px;">
		<div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
			<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">UKG</h5>
			</div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">English</li>
			  <li class="list-group-item">Hindi</li>
			  <li class="list-group-item">Mathematics</li>
			  <li class="list-group-item">Science</li>
			  <li class="list-group-item">Bengali</li>
			</ul>
			<div class="card-body">
				<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf1.pdf')}}">View detailed syllabus</a></button>
			</div>
		  </div>
		  <div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
			<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">LKG</h5>
			</div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">English</li>
			  <li class="list-group-item">Bengali</li>
			  <li class="list-group-item">GK</li>
			  <li class="list-group-item">Mathematics</li>
			  <li class="list-group-item">Drawing</li>
			</ul>
			<div class="card-body">
				<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf2.pdf')}}">View detailed syllabus</a></button>
				
			</div>
		  </div>
		  <div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
			<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Nursery</h5>
			</div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">English</li>
			  <li class="list-group-item">Hindi</li>
			  <li class="list-group-item">Mathematics</li>
			  <li class="list-group-item">G.K.</li>
			  <li class="list-group-item">Bengali</li>
			</ul>
			<div class="card-body">
				<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf3.pdf')}}">View detailed syllabus</a></button>
			</div>
		  </div>
		</div>
		<div class="row" >
			<div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
				<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class1</h5>
				</div>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">English</li>
				  <li class="list-group-item">Hindi</li>
				  <li class="list-group-item">Mathematics</li>
				  <li class="list-group-item">Active Science</li>
				  <li class="list-group-item">Computer</li>
				  <li class="list-group-item">Value education</li>
				  <li class="list-group-item">G.K.</li>
				  <li class="list-group-item">Bengali</li>
				  <li class="list-group-item">Drawing</li>
				</ul>
				<div class="card-body">
					<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf4.pdf')}}">View detailed syllabus</a></button>
				</div>
			  </div>
			  <div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
				<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class 2</h5>
				</div>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">English</li>
				  <li class="list-group-item">Hindi</li>
				  <li class="list-group-item">Mathematics</li>
				  <li class="list-group-item">Science</li>
				  <li class="list-group-item">Computer</li>
				  <li class="list-group-item">Value education</li>
				  <li class="list-group-item">G.K.</li>
				</ul>
				<div class="card-body">
					<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf5.pdf')}}">View detailed syllabus</a></button>
				</div>
			  </div>
			  <div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
				<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class 3</h5>
				  
				</div>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">English</li>
				  <li class="list-group-item">Hindi</li>
				  <li class="list-group-item">Mathematics</li>
				  <li class="list-group-item">Science</li>
				  <li class="list-group-item">Value Education</li>
				  <li class="list-group-item">G.K.</li>
				  <li class="list-group-item">Bengali</li>
				  <li class="list-group-item">Drawing</li>
				</ul>
				<div class="card-body">
					<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf6.pdf')}}">View detailed syllabus</a></button>
				</div>
			  </div>
			</div> 
			<div class="row"  style="margin-top: 50px;">
				<div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;";>
					<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class 4</h5>
					</div>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item">English</li>
					  <li class="list-group-item">Hindi</li>
					  <li class="list-group-item">Mathematics</li>
					  <li class="list-group-item">Science</li>
					  <li class="list-group-item">Value education</li>
					  <li class="list-group-item">G.K.</li>
					  <li class="list-group-item">Bengali</li>
					  <li class="list-group-item">Drawing</li>
					</ul>
					<div class="card-body">
						<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf7.pdf')}}">View detailed syllabus</a></button>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
					<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top">
					<div class="card-body">
					  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class 5</h5>
					</div>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item">English</li>
					  <li class="list-group-item">Hindi</li>
					  <li class="list-group-item">Mathematics</li>
					  <li class="list-group-item">Science</li>
					  <li class="list-group-item">Value education</li>
					  <li class="list-group-item">G.K.</li>
					  <li class="list-group-item">Bengali</li>
					  <li class="list-group-item">Computer</li>
					  <li class="list-group-item">Social studies</li>
					  <li class="list-group-item">Drawing</li>
					  
					</ul>
					<div class="card-body">
						<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf8.pdf')}}">View detailed syllabus</a></button>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
					<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class 7</h5>
					</div>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item">English</li>
					  <li class="list-group-item">Hindi</li>
					  <li class="list-group-item">Mathematics</li>
					  <li class="list-group-item">Value education</li>
					  <li class="list-group-item">G.K.</li>
					  <li class="list-group-item">Bengali</li>
					  <li class="list-group-item">Computer</li>
					  <li class="list-group-item">Social studies</li>
					  <li class="list-group-item">Drawing</li>
					</ul>
					<div class="card-body">
						<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf9.pdf')}}">View detailed syllabus</a></button>
					</div>
				  </div>
				</div>
				<div class="row" >
					<div class="card" style="width: 18rem;margin-top: 40px;margin-left: 40px;margin-right: 40px;margin-bottom: 40px;">
						<img src="{{url_for('static',filename='images/syllabusimage.jpg')}}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title" style="font-weight: 400;font-size: xx-large;text-align: center;">Class 8</h5>
						</div>
						<ul class="list-group list-group-flush">
						  <li class="list-group-item">English</li>
						  <li class="list-group-item">Hindi</li>
						  <li class="list-group-item">Mathematics</li>
						  <li class="list-group-item">Value Education</li>
						  <li class="list-group-item">G.K.</li>
						  <li class="list-group-item">Bengali</li>
						  <li class="list-group-item">Computer</li>
						  <li class="list-group-item">Social studies</li>
						  <li class="list-group-item">Drawing</li>
						  <li class="list-group-item">Science</li>
						</ul>
						<div class="card-body">
							<button type="button" class="btn btn-primary btn-sm"><a href="{{url_for('static',filename='pdf/pdf10.pdf')}}">View detailed syllabus</a></button>
						</div>
					  </div>
					</div>
			</div>}
    <div class="parallax section dbcolor parallax-off db" style="background-image:url({{url_for('static',filename='images/newsletter.jpg')}})";>
        <div class="container">
            <div class="row logos">
                {% if show_form==True %}
                  <form class="form-layout" method="POST" action="{{url_for('course')}}">
                    {{form.hidden_tag()}}
                    <p style="color: black;font-weight: 600;"><span style="font-size: 2rem">Subscribe to our Newsletter</span> {{form.email(class="specf")}} {{form.submit(class="btn123")}}</p>
                  </form>
                {% else %}

                  <p style="color: black;font-weight: 700;font-size: 2.2rem;text-align: center;">Thank You for subscribing to our Newsletter.</p>
                  <script>
                      function myFunction() {
                        alert("Click the link send to your email account to verify it.");
                      }
                    </script>
                {% endif %}

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <p> Our objective is to promote and encourage and help in prosecution of studies and advancement of literary, cultural, political, religious, scientific and technical education in the socially and educationally lowest, down-trodden under privileged strata of our society.</p>
                        <div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                            <li><a href="{{url_for('blog')}}">Blog</a></li>
							<li><a href="{{url_for('admission')}}">Admissions</a></li>
							<li><a href="{{url_for('contact')}}">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@yoursite.com</a></li>
                            <li><a href="#">www.yoursite.com</a></li>
                            <li>Netaji Subhas Path, Kanchrapara Loco, Kanchrapara, West Bengal 743145</li>
                            <li>+91 9191919191</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Ambedkar Public School</a> Design By : <a href="https://html.design/">FourDevs</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{{ url_for('static', filename='js/all.js')}} "></script>
    <!-- ALL PLUGINS -->
    <script src="{{ url_for('static', filename='js/custom.js')}} "></script>

</body>
</html>