<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Gallery Section</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.png')}}" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/logo.png')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/versions.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

   
   
    <!-- Modernizer for Portfolio -->
    <script src="{{url_for('static',filename='js/modernizer.js')}}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap" rel="stylesheet"> 

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version" style="background-color: azure;">
     

	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content" >
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" >Notice Board</h4>
			</div>
            <div class="modal-body customer-box" style="background-color: bisque;">
            <div><p>World Yoga Day event Launched. Click <a href="{{url_for('yoga')}}">here.</a></p></div>
                
				
			</div>
		</div>
	  </div>
	</div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar" style="font-family: 'Rubik', sans-serif;">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{url_for('home')}}">
                    <img src="{{url_for('static',filename='images/AMBEDKAR.png')}}" alt=""> 
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>

                        <li class="nav-item "><a class="nav-link" href="{{ url_for('course') }}" >Courses</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('blog') }}">Magazine </a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('admission')}}">Admission</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item "><a class="nav-link" href="{{url_for('admin')}}">Admin</a></li></ul>
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Notice</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	<section class="gallery-block cards-gallery parallax parallax-off section backim" style="background-image:url({{url_for('static',filename='images/lbck.jpg')}});">
    <div class="container" >

      <h1 style="font-family: 'Sofia', serif;margin-top:10vh;text-align:center;font-size: 5rem;color: #ffc300; text-shadow: 2px 2px #ff7b9c; ">Gallery</h1>
      <div class="images" style="margin: 1rem 1rem 1rem 8rem">
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage2.jpg')}}"><img src="{{url_for('static',filename='images/projectimage2.jpg')}}" class="card-img-top"></a>
        </div>
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage3.jpg')}}"><img src="{{url_for('static',filename='images/projectimage3.jpg')}}" class="card-img-top"></a>
        </div>  
        <div class="imagebox ">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage4.jpg')}}"><img src="{{url_for('static',filename='images/projectimage4.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox fltl">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage5.jpg')}}"><img src="{{url_for('static',filename='images/projectimage5.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage6.jpg')}}"><img src="{{url_for('static',filename='images/projectimage6.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage7.jpg')}}"><img src="{{url_for('static',filename='images/projectimage7.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage8.jpg')}}"><img src="{{url_for('static',filename='images/projectimage8.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage10.jpg')}}"><img src="{{url_for('static',filename='images/projectimage10.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage23.jpg')}}"><img src="{{url_for('static',filename='images/projectimage23.jpg')}}" class="card-img-top"></a>
        </div> 
        <div class="imagebox">
          <a class="lightbox" href="{{url_for('static',filename='images/projectimage27.jpg')}}"><img src="{{url_for('static',filename='images/projectimage27.jpg')}}" class="card-img-top"></a>
        </div> 
      </div> 
    </div>    
  </section>

  
{% if current_user.is_authenticated %}
<hr>
<div>
    <form action="/edit" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="text" name="spot" />
        <input type="submit" />
    </form>

  </div>   
{% endif %}

    <div class="parallax section dbcolor parallax-off db" style="background-image:url({{url_for('static',filename='images/newsletter.jpg')}})";>
        <div class="container">
            <div class="row logos">
                {% if show_form==True %}
                  <form class="form-layout" method="POST" action="{{url_for('gallery')}}">
                    {{form.hidden_tag()}}
                    <p style="color: black;font-weight: 600;"><span style="font-size: 2rem">Subscribe to our Newsletter</span> {{form.email(class="specf")}} {{form.submit(class="btn123")}}</p>
                  </form>
                {% else %}

                  <p style="color: black;font-weight: 700;font-size: 1.8rem;text-align: center;">Thank You for subscribing to our Newsletter.</p>
                  <script>
                      function myFunction() {
                        alert("Click the link send to your email account to verify it.");
                      }
                    </script>
                {% endif %}

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <p>Our objective is to promote and encourage and help in prosecution of studies and advancement of literary, cultural, political, religious, scientific and technical education in the socially and educationally lowest, down-trodden under privileged strata of our society.</p>   
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>                      
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                            <li><a href="{{url_for('blog')}}">Magazine</a></li>
                            <li><a href="{{url_for('admission')}}">Admissions</a></li>
                            <li><a href="{{url_for('contact')}}">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@apskanchrapara.com</a></li>
                            <li><a href="#">apskanchrapara.com</a></li>
                            <li>63,Netaji Subhas Path, Nichubasa, Kanchrapara, West Bengal 743145</li>
                            <li>+91 9903004488</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Ambedkar Public School</a> Design By : <a href="https://html.design/">Cosleat Devs</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{{ url_for('static', filename='js/all.js')}} "></script>
<!-- ALL PLUGINS -->
    <script src="{{ url_for('static', filename='js/custom.js')}} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    

<script src="{{ url_for('static',filename='js/modernizer.js')}}"></script>

</body>
</html>