<!DOCTYPE html>
<html>
<head>
	<title>Ambedkar Public School</title>
</head>
<body>
	<div style="margin: auto;">
		<h1 style="font-size: 2rem;font-weight: 500;color: blue">AMBEDKAR PUBLIC SCHOOL</h1>
		<img src="{{url_for('static',filename='images/logo.png')}}">
		<p>
			{{text}}
		</p>
		{% if link %}
			<a href="{{link}}">{{link}}</a>
		{% endif %}
	</div>
	<footer>
		<h1 style="color: green">Disclaimer</h1>
		<p style="color: green">This message contains information that may be privilaged or confidential and is the property of Ambedkar Public School.It is intended only for the person it is addressed. If you are not the intended recipient, you are not authorized to read, print,retain copy, dessimate, distribute, or use this message or any part thereof. If you receive this message in error, please notify the sender immediately and delete all copies of this message. </p>
	</footer>
</body>
</html>