
/** ADD YOUR AWESOME CODES HERE **/

.form-square{
	border: 1px solid black;
	widows: 100%;
	padding: 1rem;
	overflow: auto;
	margin: 2rem;
	box-shadow: 0 0 5px blue;
	border-radius: 9px;
	font-size: 1.2rem;
}
.form-layout{
	width: 100%;
	padding: 1rem;
}

.form-crazy{
	border: none;
	padding-left: 1rem;
}
.fltl{
	float:left;
}
.all-zero{
	padding: 0;
	margin: 0;
	width: auto;
}
.padl{
	padding-left: 8px;
	padding-bottom: 2px;
	color: green;
}
.fixw{
	width: 120px;
}
.submit-btn{
	color:white;
	width: 100%;
	height: 3rem;
	font-weight: 600;
	font-size: 1.5rem;
	border-radius: 5px;
}
.disabled{
	background-color: grey;
}
.backim{
	background-color:  #ffffff ;

}
.imagebox{
	align-items: center;
	justify-content: start;
	position: relative;
	border: 6px solid white ;
	width: 42%;
	margin:0.8rem;
	display: inline-block;
	transition: 0.8s;
	overflow: auto;
	box-shadow: 0 0 20px black;
}
.imagebox:hover{
	width: 46%;
	box-shadow: 0 0 10px black;
}
.padding{

	margin: auto;
	padding:5%;
}
.specf{
	background-color: #eea412;
	border:none;
	border-bottom: 2px solid black;
	width: 40%;
	min-width: 250px;
	margin: 1rem;
}
.btn123{
	font-size: 1.2rem;
	font-weight: 600;
	border:3px solid black;
	color:black;
	background-color: #eea412;
}
.btn123:hover{
	color: #eea412;
	background-color: black;
	transition: 0.3s;
}
.magazine-container
{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    
    
}

.magazine-card 
{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0.75);
    
    box-shadow:-1px 9px 40px -12px rgba(0,0,0.75);


}
.card-img-top
{
    border-radius: 20%;
}
.magazine-card
{
    border-radius:20%;
    width:400px;
    height:500px;
    margin-top:25px ;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.carousel-item {
    height: 100vh;
    background: #212121;
  }
  .carousel-item.active,
 {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.jumbotron jumbotron-fluid
{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0.75);
    
    box-shadow:-1px 9px 40px -12px rgba(0,0,0.75);
}
