<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Admissions</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.png')}}" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/logo.png')}}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/versions.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
    <!--<script>var exports = {};</script>-->
    <!-- Modernizer for Portfolio -->
    <script src="{{url_for('static',filename='js/modernizer.js')}}"></script>
    <!-- font style -->
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&family=Oswald&display=swap" rel="stylesheet"> 

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" >
            <div class="modal-header tit-up">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >Notice Board</h4>
            </div>
            <div class="modal-body customer-box" style="background-color: bisque;">
            <div><p>World Yoga Day event Launched. Click <a href="{{url_for('yoga')}}">here.</a></p></div>
                
                
            </div>
        </div>
      </div>
    </div>

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER --> 

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{url_for('home')}}">
                    <img src="{{url_for('static',filename='images/AMBEDKAR.png')}}" alt="" />     
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>

                        <li class="nav-item "><a class="nav-link" href="{{ url_for('course') }}" >Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('blog') }}">Magazine </a></li>
                        <li class="nav-item active"><a class="nav-link" href="{{url_for('admission')}}">Admission</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item "><a class="nav-link" href="{{url_for('admin')}}">Admin</a></li></ul>
                        {% endif %}
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Notice</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Admission<span class="m_1">Fill in the admission form given below</span></h1>
		</div>
	</div>
    <div class="container contact-form">
        <hr>
    
        <div class="row">
            <form class="form-layout" method="POST" action="{{url_for('admission')}}">
                {{form.hidden_tag()}}
                <h1 style="font-family: 'Oswald', sans-serif;font-size: 3rem;color:  #b02f1a ">Admission form</h1>
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;text-align: center;">Note</h1>
                    <p style="color: green; font-size: 1rem;font-weight: 500;">
                        Read the application form thoroughly before filling it up. The application form should be completely filled in. Incomplete form will not be accepted. Write NA if not applicable.
                    </p>
                    <p style="color: green; font-size: 1rem;font-weight: 500;
                    ">
                        Attested copies of birth/ academic certificate/Mark-sheets/Progress Report muist be attached here with.
                    </p>
                </div>

                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Student Details</h1>
                    <div class="form-group">
                        {{form.name.label()}}
                        {{form.name(class="form-control")}}
                    </div>
                    
                    <div class="form-group" style="width: 40%;float: left;margin-right : 8%;min-width: 200px">
                        {{form.dob.label()}}
                        <input type="date" name="dob" class="form-control">
                    </div>
                    <div class="form-group" style="width: 25%;float: left;margin-right : 0;min-width: 200px">
                        {{form.gender.label()}}
                        {{form.gender(class="form-control form-crazy")}}
                    </div>
                    <div class="form-group" style="width: 25%;float: left;min-width: 200px">
                        {{form.nationality.label()}}
                        {{form.nationality(class="form-control form-crazy")}}
                    </div>
                </div>    

                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Father's Details</h1>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.fathername.label()}}
                        {{form.fathername(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 40vh;min-width: 250px;margin-right: 1.3rem">
                        {{form.fphno.label()}}
                        {{form.fphno(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 25vh;margin-right: 1.3rem">
                        {{form.fage.label()}}
                        {{form.fage(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="margin-right: 1.3rem">
                        {{form.fedu.label()}}
                        {{form.fedu(class="form-control")}}
                    </div>
                    <div class="form-group fltl">
                        {{form.fincome.label()}}
                        {{form.fincome(class="form-control")}}
                    </div>
                    
                </div>
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Mother's Details</h1>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.mothername.label()}}
                        {{form.mothername(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 40vh;min-width: 250px;margin-right: 1.3rem">
                        {{form.mphno.label()}}
                        {{form.mphno(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 25vh;margin-right: 1.3rem">
                        {{form.mage.label()}}
                        {{form.mage(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="margin-right: 1.3rem">
                        {{form.medu.label()}}
                        {{form.medu(class="form-control")}}
                    </div>
                    <div class="form-group fltl">
                        {{form.mincome.label()}}
                        {{form.mincome(class="form-control")}}
                    </div>
                    
                </div>
                    
                
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Guardian's Details [optional]</h1>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.guardianname.label()}}
                        {{form.guardianname(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 40vh;min-width: 250px;margin-right: 1.3rem">
                        {{form.gphno.label()}}
                        {{form.gphno(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 25vh;margin-right: 1.3rem">
                        {{form.gage.label()}}
                        {{form.gage(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="margin-right: 1.3rem">
                        {{form.gedu.label()}}
                        {{form.gedu(class="form-control")}}
                    </div>
                    <div class="form-group fltl">
                        {{form.gincome.label()}}
                        {{form.gincome(class="form-control")}}
                    </div>
                    
                </div>
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Permament Address</h1>
                    <div class="form-group" style="width: 100%;">
                        {{form.hldno.label()}}
                        {{form.hldno(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 34%;float: left;margin-right : 1.1rem;min-width: 200px;">
                        {{form.city.label()}}
                        {{form.city(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 20%;float: left;margin-right : 1.1rem;min-width: 200px;">
                        {{form.dist.label()}}
                        {{form.dist(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 20%;float: left;margin-right : 1.1rem;min-width: 200px;">
                        {{form.state.label()}}
                        {{form.state(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 15%;float: left;min-width: 200px;">
                        {{form.pin.label()}}
                        {{form.pin(class="form-control")}}
                    </div>
                </div>    
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Current Address</h1>
                    <div class="form-group">
                        {{form.chck.label(class="padl")}}
                        {{form.chck(class="form-control all-zero fltl")}}
                    </div>
                    <div class="form-group" style="width: 100%;">
                        {{form.thldno.label()}}
                        {{form.thldno(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 34%;float: left;margin-right : 1.1rem;min-width: 200px;">
                        {{form.tcity.label()}}
                        {{form.tcity(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 20%;float: left;margin-right : 1.1rem;min-width: 200px;">
                        {{form.tdist.label()}}
                        {{form.tdist(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 20%;float: left;margin-right : 1.1rem;min-width: 200px;">
                        {{form.tstate.label()}}
                        {{form.tstate(class="form-control")}}
                    </div>
                    <div class="form-group" style="width: 15%;float: left;min-width: 200px;">
                        {{form.tpin.label()}}
                        {{form.tpin(class="form-control")}}
                    </div>
                    
                </div>    
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Contact Information</h1>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.email.label()}}
                        {{form.email(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 30%;min-width: 250px;margin-right: 1rem">
                        {{form.ephno.label()}}
                        {{form.ephno(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 30%;min-width: 250px;margin-right: 1rem">
                        {{form.mobile.label()}}
                        {{form.mobile(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 30%;min-width: 250px;">
                        {{form.telphn.label()}}
                        {{form.telphn(class="form-control")}}
                    </div>
                </div>
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Student's Health</h1>
                    <div class="form-group fltl" style="width: 20%;float: left;margin-right : 3.2rem;min-width: 200px;">
                        {{form.blgrp.label()}}
                        {{form.blgrp(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 20%;float: left;margin-right : 3.2rem;min-width: 200px;">
                        {{form.teeth.label()}}
                        {{form.teeth(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 20%;float: left;margin-right : 3.2rem;min-width: 200px;">
                        {{form.height.label()}}
                        {{form.height(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 20%;float: left;min-width: 200px">
                        {{form.weight.label()}}
                        {{form.weight(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.illness.label()}}
                        {{form.illness(class="form-control")}}
                    </div>
                </div>
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Additional Information</h1>
                    <div class="form-group" style="width: 100%">
                        {{form.pschool.label()}}
                        {{form.pschool(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.reference.label()}}
                        {{form.reference(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 30%;float: left;margin-right : 2rem;min-width: 200px;">
                        {{form.caste.label()}}
                        {{form.caste(class="form-control form-crazy")}} 
                    </div>
                    <div class="form-group fltl" style="width: 10%;float: left;margin-right : 0rem;min-width: 200px;">
                        {{form.mtoungue.label()}}
                        {{form.mtoungue(class="form-control form-crazy")}}
                    </div>
                    <div class="form-group fltl" style="width: 15%;float: left;margin-right : 2rem;min-width: 200px;">
                        {{form.famincome.label()}}
                        {{form.famincome(class="form-control form-crazy")}}
                    </div>
                    <div class="form-group fltl" style="width: 15%;float: left;min-width: 200px;">
                        {{form.classval.label()}}
                        {{form.classval(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.lang.label()}}
                        {{form.lang(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.xdoc.label()}}
                        {{form.xdoc(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.odoc.label()}}
                        {{form.odoc(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.subj.label()}}
                        {{form.subj(class="form-control")}}
                    </div>
                    <div class="form-group fltl" style="width: 100%">
                        {{form.coa.label()}}
                        {{form.coa(class="form-control")}}
                    </div>
                    
                </div>
                <div class="form-square" >
                    <h1 style="color:  #4068dd ;font-weight: 500;">Uploads</h1>
                    <div class="form-group fltl" style="width: 48%;float: left;min-width: 250px;">
                        <label>Upload Document <span style="color: green">[max size = 4kb]</span></label>
                        <input type="file" name="document" class="form-control-file">
                        {% for error in form.document.errors %}
                            <small class="text-danger">{{ error }}</small>  
                        {% endfor %}
                    </div>
                    <div class="form-group fltl" style="width: 48%;float: left;min-width: 250px;">
                        <label>Profile Image <span style="color: green">[max size = 4kb]</span></label>
                        <input type="file" name="profile" class="form-control-file">
                        {% for error in form.profile.errors %}
                            <small class="text-danger">{{ error }}</small>  
                        {% endfor %}
                    </div>
                </div>
                <div class="form-square">
                    <h1 style="color:  #4068dd ;font-weight: 500;">Declaration</h1>
                    <label>In the given box, write <span style="color: blue">"DECLARE"</span> to declare the following statement</label>
                    <p style="color: green; font-size: 1rem;font-weight: 500;">
                        I/We {{form.declare(class=" fixw")}} that the above statements and documents submitted are true and correct to the best of my/our knowledge and belief.
                    </p>
                    <br>
                    <label>In the given box, write <span style="color: blue">"ACCEPT"</span> to accept the following statement</label>
                    <p style="color: green;font-size: 1rem;font-weight: 500;">
                        I/My ward {{form.accept(class=" fixw")}} to face expulsion from the institute in case my ward is involved in any malprtactice and misconduct in behaiviour and action.
                    </p>
                    {% if form.declare.data=='DECLARE' and form.accept.data=='ACCEPT' %}
                        {{form.submit(class="submit-btn")}}
                    {% else  %}
                        {{form.submit(class="submit-btn disabled")}}

                    {% endif %}    

                </div>
                
            </form>
    
           </div>
    
        </div>
    
    </div>
	
   

   

    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <marquee style="color: black;font-weight: 600;"><span style="font-size: 1.5rem">Thank you for your time. We will get back in touch as soon as possible.</span></marquee>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <p>Our objective is to promote and encourage and help in prosecution of studies and advancement of literary, cultural, political, religious, scientific and technical education in the socially and educationally lowest, down-trodden under privileged strata of our society.</p>   
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>                      
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                            <li><a href="{{url_for('blog')}}">Magazine</a></li>
                            <li><a href="{{url_for('admission')}}">Admissions</a></li>
                            <li><a href="{{url_for('contact')}}">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@apskanchrapara.com</a></li>
                            <li><a href="#">apskanchrapara.com</a></li>
                            <li>63,Netaji Subhas Path, Nichubasa, Kanchrapara, West Bengal 743145</li>
                            <li>+91 3335531839, +91 9230614678</li></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
                
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Ambedkar Public School</a> Design By : <a href="https://html.design/">Cosleat Devs</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{{ url_for('static', filename='js/all.js')}} "></script>
<!-- ALL PLUGINS -->
    <script src="{{ url_for('static', filename='js/custom.js')}} "></script>

</body>
</html>