<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>APS -Magazinepage </title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
	<link rel="shortcut icon" href="{{url_for('static',filename='images/logo.png')}}" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/logo.png')}}">

    <!-- Bootstrap CSS -->
<link rel="shortcut icon" href="{{url_for('static',filename='images/logo.png')}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='images/logo.png')}}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/versions.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">

	<link rel="stylesheet" href="{{url_for('static',filename='css/newcard.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/yogapage.css')}}">
    <!-- Modernizer for Portfolio -->
    <script src="{{url_for('static',filename='js/modernizer.js')}}"></script>

    

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version" style="background-color: white" > 
<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content" >
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" >Notice Board</h4>
			</div>
            <div class="modal-body customer-box" style="background-color: bisque;">
            <div><p>World Yoga Day event Launched. Click <a href="{{url_for('yoga')}}">here.</a></p></div>
                
				
			</div>
		</div>
	  </div>
	</div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{url_for('home')}}">
					<img src="{{url_for('static',filename='images/AMBEDKAR.png')}}" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>
						<li class="nav-item "><a class="nav-link" href="{{ url_for('course') }}" >Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery',title='all') }}">Gallery</a></li>
						<li class="nav-item active"><a class="nav-link" href="{{ url_for('blog') }}">Magazine</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('admission')}}">Admission</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
						{% if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{{url_for('admin')}}">Admin</a></li>
						{% endif %}
					</ul>
				
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Notice</span></a></li>
                    </ul>
                  
				</div>
			</div>
		</nav>
	</header>

	<!-- End header -->

    <div class="all-title-box" >
		<div class="container text-center">
			<h1>School Post<span class="m_1">A record of school activities.</span></h1>
		</div>
	</div>
	<div class="container contact-form" style="padding:0;overflow:auto;min-width:440px;width:50%;align-content: center;">
    
			{% for post in posts %}
				<div class="row1" style="min-width:100%;width: 100%;float: left">
					<div class=" form-square schoolmagazine-card card-style postcard">
					<div class="card-body">
						<h1 style="color:  #4068dd ;font-weight: 500;">{{post.get("title")}}</h1>
						{% if current_user.is_authenticated %}
						<a href="{{url_for('delete_post',post_id=post.get('_id'))}}" style="float: right;color: red;font-size: 0.7rem;">delete</a>
						{% endif %}
					  <p class="card-text" style="font-size: 0.9rem">{{post.get("content")}}</p>
					</div>
                    {% if post.get('pic_name''') %}
                        <img src="{{post.get('pic_name')}}" class="card-img-top" alt="..." style=" border-radius: 0%">
						{% endif %}
					<div class="card-body">
					  
					  
					  <p class="card-text" style="float:right"><small class="text-muted">{{ post.get('date')}}</small></p>
					  <button type="button" class="btn btn-primary" style="width: 70px;font-size: 1rem;">👍
					  </button>
					  <button type="button" class="btn btn-primary" style="width: auto;font-size: 1rem; "><a href="{{post.get('link')}}">Click to go to Event page</a>
					  </button>
					</div>
				  </div>
				</div>
	            
			{% endfor %}  

    </div>
<footer class="footer">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <p>Our objective is to promote and encourage and help in prosecution of studies and advancement of literary, cultural, political, religious, scientific and technical education in the socially and educationally lowest, down-trodden under privileged strata of our society.</p>   
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                            <li><a href="{{url_for('blog')}}">Magazine</a></li>
							<li><a href="{{url_for('admission')}}">Admissions</a></li>
							<li><a href="{{url_for('contact')}}">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@apskanchrapara.org</a></li>
                            <li><a href="#">www.apskanchrapar.org</a></li>
                            <li>63,Netaji Subhas Path, Kanchrapara Loco, Kanchrapara, West Bengal 743145</li>
                            <li>+91 3335531839, +91 9230614678</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

<div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Ambedkar Public School</a> Design By : <a href="https://html.design/">Cosleat Devs</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
    

    
            

    
    
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{{url_for('static',filename='js/all.js')}}"></script>
    <!-- ALL PLUGINS -->
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>

</body>
</html>